* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

@import "../scss/component/dropdown";
@import "../scss/component/carousel";
@import "../scss/component/nosotras";
@import "../scss/component/productos";
@import "../scss/component/footer";
@import "../scss/base/listasymapas";
@import "../scss/base/mixin";
@import "../scss/base/variables";


/* Header */

.imagenS {
    width: 2rem;
    height: 2rem;
}
.imagenM {
    width: 4.6rem;
    height: 4.6rem;
}
.imagenL {
    width: 50rem;
    height: 31.2rem;
}
.imagen-productos {
    width: 25rem;
    height: 15.6rem;
}
.imagen-nosotras {
    width: 31.2rem;
    height: 40.6rem;
}
